
header{
  position: fixed;
  width: 100%;
  top: -40px;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  transition: 0.5s;
  background-color: rgba(30, 29, 29, 0.7);
}
.search-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 30px;
  max-width: 600px;
}
.search-input {
  flex: 1;
  background-color: transparent;
  color: #fff;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid #fff;
  padding: 8px 5px 5px 20px;
  box-shadow: 0 0 4px rgba(255, 209, 2, 0.3);
  font-size: 20px;
}
.btn-search {
  background: var(--main-color);
  padding: 8px 19px;
  font-size: 20px;
  border-radius: 0px 30px 30px 0px;
  border: 1px solid var(--main-color);
  cursor: pointer;
  margin-left: -30px;
}
header.shadow .navbar a{
  color: var(--text-color);
}
header.shadow .logo{
  color: var(--text-color);
}
.logo{
  font-size: 25px;
  font-weight: 600;
  align-items: center;
  color: var(--bg-color);
  display: flex;
  column-gap: 0.5rem;
}
.logo span{
  color:var( --main-color);
  font-size: 50px;
  margin-right: -10px;
  margin-left: -15px;
}
.bx{
  color: var(--main-color);
}
.navbar{
  display: flex;
  column-gap: 4rem;
}
.navbar li{
  position: relative;
}
.navbar a{
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}
.navbar a::after{
  content: '';
  width: 0;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
  width: 100%;
  background-color: #fff;
}
#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}
.btn{
  padding: 0.7rem 1.4rem;
  background: var(--main-color);
  color:black;
  font-weight: 400;
  border-radius: 0.5rem;
}
